#head
{
    border: 2px solid blue;
    text-align: center;
}
.button
{
    color: green;
    margin: 50px;
}
.container
{
    background-color: #006699;
				color: #fff;
				height: 360px;
				width: 600px;
				margin: 0px auto;
				padding: 5px;
}
#leftPanel
{
    background-color: #efefef;
				color: #000;
				height: 350px;
				width: 48%;
				float: left;
}
#rightPanel
{
    background-color: #efefef;
				color: #000;
				height: 350px;
				width: 48%;
				float: right;
}